/node_modules
/public/hot
/public/*
!/public/css
!/public/js
/public/storage
/vendor
/vendor_acc
/vendor.old
/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
